[submodule "src/libwuya"]
	path = src/libwuya
	url = https://github.com/WuBingzheng/libwuya.git
[submodule "src/libloop"]
	path = src/libloop
	url = https://github.com/WuBingzheng/libloop.git
[submodule "src/libhttp2"]
	path = src/libhttp2
	url = https://github.com/h2tpd/libhttp2.git
